@import 'variable.scss'; /* Import the variables file */
@import '_styles.scss'; /* Import the styles partial */

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(3, 1fr); /* 3 rows */
  grid-gap: $grid-gap; /* Use the grid-gap variable defined in variable.scss */
}

.grid-item-1{
    grid-row: span 2; /* Occupies 2 rows */
    grid-column: span 2; /* Occupies 2 columns */
}
.grid-item-2{
    grid-row: span 1; /* Occupies 1 row */
    grid-column: span 2; /* Occupies 2 columns */
}
.grid-item-3{
    grid-row: span 3; /* Occupies 3 rows */
    grid-column: span 1; /* Occupies 1 column */
}
.grid-item-4{
    grid-row: span 1; /* Occupies 1 row */
    grid-column: span 1; /* Occupies 1 column */
}
.grid-item-5{
    grid-row: span 1; /* Occupies 1 row */
    grid-column: span 1; /* Occupies 1 column */
}
.grid-item-6{
    grid-row: 3; /* Placed at row 3 */
    grid-column: 2; /* Placed at column 2 */
}
